.new-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 50px;
}

.new-flex:nth-child(even){
    flex-direction: row-reverse;
}

.navbar-dark a{
    color: black;
}
.navbar-dark a:hover{
    color: #caa847;
}

.new-flex img {
    width: 400px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 9px 6px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 9px 6px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 9px 6px -7px rgba(0, 0, 0, 0.75);
}

.new-flex p {
    width: 50%;
    text-align: justify;
    margin-left: 50px;
}

.new-flex:nth-child(even) p{
    margin-left: 0;
    margin-right: 50px;
}

.end-info{
    text-align: center;
    color: black;
}

.inner-end-info{

}

.inner-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.first-inner-text,
.second-inner-text{
    background-color: #caa847;
    width: 40%;
    color: white;
    margin: 5px 2px;
    padding: 10px;
    border-radius: 10px;
}

.first-inner-text{
    text-align: left;
}

.second-inner-text{
    text-align: right;
}










@media all and (max-width:992px){
    .new-flex p{
        width: 100%;
        margin-left: 0;
        margin-top: 50px;
    }
}