.mybox{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.46);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dislpaybox{
    text-align: center;
    padding: 20px;
    background-color: aliceblue;
}

.boxheader{
    display: flex;
    justify-content: space-between;
}

.boxheader i{
    font-size: 32px;
    transition: all 0.3s linear;
}

.boxheader i:hover{
    cursor: pointer;
    color: #CAA487;
}